@import 'src/variables.scss';

mat-card-header {
  justify-content: center;
}
mat-card-title {
  text-align: center;
}

mat-card-image {
  max-width: 400px;
  max-height: 500px;

}

.image {
  background-color: red;
}
